.gitignore
.DS_Store
__pycache__/
plans/
testing/
test.py
simulation_test.py
index.py
venv/
modules/
main.py
settings.py
.vscode/
events.py
sim.py
test.py
buttons.py
my_key_words.py
formatting_function.py
*.json
*.txt