<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Диалоговые узлы pyAliceKit</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <h1>pyAliceKit</h1>
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/settings.html">Настройки</a></li>
                    <li><a href="/dialog_nodes.html">Диалоговые узлы</a></li>
                </ul>
            </div>
        </header>
        <main>
            <div class="container">
                <h2>Диалоговые узлы pyAliceKit!</h2>
                <div class="dialog_nodes">
                    <div class="graph_container"></div>
                </div>
            </div>
        </main>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/dialog_nodes.js"></script>
</body>

</html>