<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Настройки pyAliceKit</title>
  <link rel="stylesheet" href="style.css" />
</head>
<body>
  <div class="wrapper">
    <header>
      <div class="container">
        <h1>pyAliceKit</h1>
        <nav>
          <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="/settings.html">Настройки</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <h2>Настройки pyAliceKit!</h2>
      </div>
  </div>
  <script src=""></script>
</body>
</html>
